version: "3.9"

services:
  backend:
    build: ./backend
    env_file:
      - ./backend/.env
    ports:
      - "4000:4000"
    volumes:
      - ./backend/prisma/dev.db:/app/prisma/dev.db

    restart: unless-stopped

  frontend:
    build: ./frontend
    env_file:
      - ./frontend/.env
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: unless-stopped